body{
    display: flex;
    flex-direction: column;
}
nav{
    display: flex;
    border: 1px solid black;
    background-color: transparent;
    opacity: .8;
    z-index: 1;
    background-color:rgb(195, 200, 201) ;
}
#titlePart{
    display: flex;
    width: 50%;
    padding-left: 3%;
}
#titlePart img{
    width: 70px;
    border-radius: 50%;
}
#titlePart h4{
    margin-top: 20px;
    color: cornsilk;
    margin-left: 10px;
}
#btn{
    width: 50%;
    padding-left: 40%;
    padding-top: 20px;
}
#loginBtn{
    border-radius: 20px;
    width: 100px;
    color: cyan;
    background-color: darkseagreen;
}
section{
    display: flex;
    flex-direction: column;
}
.cards{
    width: 100%;
}
#card1{
    display: flex;
    flex-direction: column;
    height: 727px;
    margin-top: -80px;
    background-repeat: no-repeat, no-repeat;
    background-image: url(https://cutewallpaper.org/21/anime-boy-listening-to-music/Guy-Listening-To-Music-Drawing.jpg), url(https://media.istockphoto.com/photos/falling-autumn-red-leaves-with-sunlight-fall-background-picture-id1035136578);
    background-size: 40%, 80% 92%;
    background-size: cover,cover;
    background-blend-mode: luminosity;

}
#card1 h1{
    margin-top: 100px;
    text-align: center;
}
#card2 ul{
    padding-left: 700px;
}
#card2 span{
    position: relative;
    left: -250px;
}
#card2,#card3 h2{
    text-align: center;
}
#card3{
    display: flex;
    flex-direction: column;
}
#playList{
    display: flex;
    justify-content: space-evenly;
}
.listCards{
    width: 300px;
    border: 1px solid black;
}

    